body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
    width: 100vw;
}
@media print {
    body * {
        visibility: hidden;
    }
    #invoiceModal, #invoiceModal * {
        visibility: visible;
    }
    #invoiceModal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
    }
}

/* @media print {
    body * {
        visibility: hidden;
    }
    #invoiceModal {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }
    #invoiceModal .modal-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        box-shadow: none;
        border: none;
    }
} */


.mainContainer {
    display: flex;
    width: 100%;
}
.close {
    width: auto !important;
}
.active {
    color: #4CAF50 !important;
    text-decoration: underline !important;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
}

.sidebar:hover {
    width: 300px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.user-info h3 {
    margin: 0;
    font-size: 18px;
}

.user-info p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.sidebar h2 {
    text-align: center;
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
    transition: padding 0.3s;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
}

#billing-form,
#patient-form,
#appointment-form,
#inventory-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #76ff03;
}